  body, html {
      font-family: sans-serif;
  }
 
  #map {
    margin-top: 5px;
    width: 60%;
    height: 600px;
    border: solid 1px #ccc;
  }

  #infoWindow {
    background: #000;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    font-size: 30px;
    position: relative;
/*    top: 120px;*/
    width: auto;
    display: inline;
    margin-left: 20px;
  }

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: #636363;
    color: #ffffff;
}