  body, html {
    font-family: Raleway;
  }
 
  #map {
    margin-top: 5px;
    width: 70%;
    height: 600px;
    border: solid 1px #ccc;
  }


  #infoWindow {
    background: #000;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
    top:30px;
    position: relative;
    font-family: Raleway;
    width: auto;
    display: inline;
    margin-left: -280px;
    font-weight: 500;
    z-index: 5000;
  }

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
    background: #000;
    font-family: Raleway;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
}

.btn-group>.btn:first-child {
    font-family: Raleway;
    font-weight: 500;
}

#custom-search-input .glyphicon-search {
  height:0px;
}



#custom-search-input{
    margin-top: 5px;
    padding-top: 0px;
    border: solid 1px #E4E4E4;
    border-radius: 2px;
    background-color: #fff;
    width: 300px;
    float: left;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    font-family: Raleway;
    font-size:15px;

}

#custom-search-input button{
    margin: 0px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 17px;
}

.input-group {
  padding-top: 0px;
}

.btn-info .btn-lg {
  width: 300px;
}

.btn {
  width: 150px;
}